In [248]:
import numpy as np
import pandas as pd
import re

from ckonlpy.tag import Twitter

In [249]:
df = pd.read_excel('../cp1/NewsResult_20220104-20230106.xlsx', engine='openpyxl')
df.head()

,Date,Title,Content
0,20230106,"더본코리아, 설맞이 ‘본가 소갈비찜’ RMR 제품 선봬",[아시아경제 문혜원 기자] 더본코리아는 설 명절을 맞아 온 가족이 즐길 수 있는 ‘...
1,20230106,30년 만에 최대치...손님은 지갑 닫고 업주는 '울상',[앵커]\n지난해 외식물가 상승률이 30년 만에 최대치를 기록하면서 손님은 물론이고...
2,20230106,"“레시피 없는 사찰음식, 집착 내려놓는 수행이죠”",“당신이 먹는 음식이 곧 당신이다.” \n \n 독일 철학자 루트비히 포이어바흐가 ...
3,20230106,임실엔 치~즈 맛있게 쭈~욱,전북에 가면 옛 삼국시대부터 불렸던 ‘그리운 임이 사는 곳 임실(任實)’이 있다. ...
4,20230106,음식으로 건강과 희망을 선물하는 이경애 외식연구소 대표,이경애 외식연구소 대표. 김형수기자 \n 50년 가까이 앞치마를 벗을 새 없이 앞만...

In [250]:
df_drop=df.drop_duplicates(['Date','Title','Content'], keep='first')

In [251]:
df=df_drop.reset_index(drop=True)

In [252]:
word_list=[]
word_list=df['Content']
word_list=word_list.reset_index(drop=True)
word_list

0       [아시아경제 문혜원 기자] 더본코리아는 설 명절을 맞아 온 가족이 즐길 수 있는 ‘...
1       [앵커]\n지난해 외식물가 상승률이 30년 만에 최대치를 기록하면서 손님은 물론이고...
2       “당신이 먹는 음식이 곧 당신이다.” \n \n 독일 철학자 루트비히 포이어바흐가 ...
3       전북에 가면 옛 삼국시대부터 불렸던 ‘그리운 임이 사는 곳 임실(任實)’이 있다. ...
4       이경애 외식연구소 대표. 김형수기자 \n 50년 가까이 앞치마를 벗을 새 없이 앞만...
                              ...
3974    ━ 필리핀, 여행업계 오스카상 '월드 트래블 어워드' 3년 연속 선정 \n 필리핀이...
3975    ◀ 앵커 ▶\n\n외국여행 가면 처음에 접하고 생소해하는 식당 문화가 있죠.\n\n...
3976    집안에는 40여 개의 표창장이 산처럼 쌓여 있다. 표창장의 주인공은 창원에서 '박영...
3977    장례식장에서 피자를 주문했는데 음식점 사장이 음식 뿐 아니라 조의금과 애도를 표하는...
3978    인터뷰┃유튜버 공삼테이블 이공삼"하고싶은 일 해야겠단 생각에다양한 경험 후 먹방유튜...
Name: Content, Length: 3979, dtype: object

In [253]:
def extract_word(text):
    hangul = re.compile('[^가-힣]') 
    result = hangul.sub(' ', text) 
    return result

In [254]:
for i in range(0,len(word_list)):
    word_list[i] = extract_word(word_list[i])

In [255]:
word_list

0        아시아경제 문혜원 기자  더본코리아는 설 명절을 맞아 온 가족이 즐길 수 있는  ...
1        앵커  지난해 외식물가 상승률이   년 만에 최대치를 기록하면서 손님은 물론이고 ...
2        당신이 먹는 음식이 곧 당신이다       독일 철학자 루트비히 포이어바흐가 한 ...
3       전북에 가면 옛 삼국시대부터 불렸던  그리운 임이 사는 곳 임실     이 있다  ...
4       이경애 외식연구소 대표  김형수기자     년 가까이 앞치마를 벗을 새 없이 앞만 ...
                              ...
3974      필리핀  여행업계 오스카상  월드 트래블 어워드   년 연속 선정   필리핀이 ...
3975      앵커    외국여행 가면 처음에 접하고 생소해하는 식당 문화가 있죠   종업원에...
3976    집안에는   여 개의 표창장이 산처럼 쌓여 있다  표창장의 주인공은 창원에서  박영...
3977    장례식장에서 피자를 주문했는데 음식점 사장이 음식 뿐 아니라 조의금과 애도를 표하는...
3978    인터뷰 유튜버 공삼테이블 이공삼 하고싶은 일 해야겠단 생각에다양한 경험 후 먹방유튜...
Name: Content, Length: 3979, dtype: object

In [256]:
#기사 본문만 가져오기
content=word_list
content.head()

0     아시아경제 문혜원 기자  더본코리아는 설 명절을 맞아 온 가족이 즐길 수 있는  ...
1     앵커  지난해 외식물가 상승률이   년 만에 최대치를 기록하면서 손님은 물론이고 ...
2     당신이 먹는 음식이 곧 당신이다       독일 철학자 루트비히 포이어바흐가 한 ...
3    전북에 가면 옛 삼국시대부터 불렸던  그리운 임이 사는 곳 임실     이 있다  ...
4    이경애 외식연구소 대표  김형수기자     년 가까이 앞치마를 벗을 새 없이 앞만 ...
Name: Content, dtype: object

In [257]:
df=pd.DataFrame([content])
df= df.transpose()

In [258]:
df

                                                Content
0      아시아경제 문혜원 기자  더본코리아는 설 명절을 맞아 온 가족이 즐길 수 있는  ...
1      앵커  지난해 외식물가 상승률이   년 만에 최대치를 기록하면서 손님은 물론이고 ...
2      당신이 먹는 음식이 곧 당신이다       독일 철학자 루트비히 포이어바흐가 한 ...
3     전북에 가면 옛 삼국시대부터 불렸던  그리운 임이 사는 곳 임실     이 있다  ...
4     이경애 외식연구소 대표  김형수기자     년 가까이 앞치마를 벗을 새 없이 앞만 ...
...                                                 ...
3974    필리핀  여행업계 오스카상  월드 트래블 어워드   년 연속 선정   필리핀이 ...
3975    앵커    외국여행 가면 처음에 접하고 생소해하는 식당 문화가 있죠   종업원에...
3976  집안에는   여 개의 표창장이 산처럼 쌓여 있다  표창장의 주인공은 창원에서  박영...
3977  장례식장에서 피자를 주문했는데 음식점 사장이 음식 뿐 아니라 조의금과 애도를 표하는...
3978  인터뷰 유튜버 공삼테이블 이공삼 하고싶은 일 해야겠단 생각에다양한 경험 후 먹방유튜...

[3979 rows x 1 columns]

In [259]:
from konlpy.tag import Kkma
from konlpy.utils import pprint
from tqdm import tqdm
kkma = Kkma()

In [260]:
nouns = [] 
for x in tqdm(content):
    try:
        nouns.append(kkma.nouns(x))
    except:
        nouns.append(["None"])

100%|██████████| 3979/3979 [04:33<00:00, 14.55it/s]

In [261]:
# 명사 추출 결과값 열에 추가
ko_df= df.copy()
ko_df["ContentNoun"] = nouns
#json 파일로 저장
ko_df.to_json("eat_out_pre.json",orient="table")

In [285]:
corpus = pd.read_json("eat_out_pre.json",orient="table")

In [286]:
def change(text):
    text=','.join(text)
    text_list=text.split(',')
    result=[]
    for c in text_list:
        result.append(c)
    result=','.join(result)
    return result

In [288]:
corpus['ContentNoun']=corpus['ContentNoun'].map(lambda x: change(x))

In [289]:
def remove(text):
    text_list=text.split(',')
    result=[]
    for n in text_list:
        if len(n)>1:
            result.append(n)
    result=' '.join(result)
    return result

corpus['ContentNoun']=corpus['ContentNoun'].map(lambda x: remove(x))

In [296]:
#사이트 참조해서 직접 제거 + 신문사 제거
stopword1 = pd.read_excel("./불용어.xlsx",header=None, engine='openpyxl')
stopword = list(set(stopword1[0])) # 0번째가 불용어, 중복 제거
len(stopword) # 594개로 중복 제거됨

728

In [297]:
noun=corpus['ContentNoun']

In [298]:
import nltk

for i, document in enumerate(noun):
    clean_words = [] 
    for word in nltk.tokenize.word_tokenize(document):
        if word not in np.array(stopword): #불용어 제거
            clean_words.append(word)
    noun[i] = ' '.join(clean_words)

In [299]:
noun

0       문혜원 본코리아 코리아 명절 가족 본가 갈비 갈비찜 레스토랑 간편식 편식 상품 스타...
1       지난해 외식물가 물가 상승률 최대치 기록 자영업자 외식비용 비용 재료비 음식값 상황...
2       독일 철학자 루트 루트비히 불편 천박 먹을거리 자랑 자랑거리 거리 소셜미디어 미디어...
3       전북 삼국 삼국시대 시대 임실 조상 농토 연명 요즘 생산 치즈 전국적 유명 유명세 ...
4       경애 외식연구소 연구소 대표 김형수 김형수기자 가까이 앞치마 요리 요리연구가 연구가...
                              ...
3974    필리핀 여행업계 오스카상 월드 트래블 워드 연속 선정 최고 다이빙 여행지 관광부 명...
3975    외국 외국여행 가면 처음 생소 종업원 요구 누리 반응 리포트 김성장 성장 내가 만족...
3976    집안 개의 표창장 주인공 창원 박영수손짜장 영수 짜장 박영수 대표 거제 의령 함안 ...
3977    피자 주문 사장 편지 감동 지난달 페이스 페이스북 안산 말해 말해드립 드립 계정 감...
3978    인터뷰 유튜버 공삼 공삼테이블 테이블 생각 다양 경험 먹방유튜버 방유 정착 자취방 ...
Name: ContentNoun, Length: 3979, dtype: object

In [300]:
# 전처리 결과값
file=pd.DataFrame(noun)
file.rename(columns={'ContentNoun':'keyword'}, inplace=True)
file.to_csv("word_complete.csv",encoding="utf-8-sig", index=False)

In [301]:
file.head()

                                             keyword
0  문혜원 본코리아 코리아 명절 가족 본가 갈비 갈비찜 레스토랑 간편식 편식 상품 스타...
1  지난해 외식물가 물가 상승률 최대치 기록 자영업자 외식비용 비용 재료비 음식값 상황...
2  독일 철학자 루트 루트비히 불편 천박 먹을거리 자랑 자랑거리 거리 소셜미디어 미디어...
3  전북 삼국 삼국시대 시대 임실 조상 농토 연명 요즘 생산 치즈 전국적 유명 유명세 ...
4  경애 외식연구소 연구소 대표 김형수 김형수기자 가까이 앞치마 요리 요리연구가 연구가...